In [ ]:
import pandas as pd

dtype_mapping = {
    'Symbol': 'category',  # Categorical for symbols (e.g., stock tickers)
    'Open': 'float64',  # OHLC as float
    'High': 'float64',
    'Low': 'float64',
    'Close': 'float64',
    'Volume': 'int64'  # Volume typically as integer
}


# Load the 1-minute OHLC data and set the first row as column names
data = pd.read_csv('/Users/nicolasatkins/PycharmProjects/AFML/tick_data/barchart.com/concatenated_barchart_data2.csv', header=0,dtype=dtype_mapping,
)

In [ ]:
data.info()

In [ ]:
volume_bars = []
VOLUME_THRESHOLD = 50000
# Initialize variables for aggregation
current_open = None
current_high = -float('inf')
current_low = float('inf')
current_close = None
current_volume = 0
current_symbol = None
current_time = None

# Iterate through rows to build volume bars
for index, row in data.iterrows():
    if current_open is None:
        current_open = row['Open']
        current_symbol = row['Symbol']
        current_time = row['Time']  # Capture the current time
    current_high = max(current_high, row['High'])
    current_low = min(current_low, row['Low'])
    current_close = row['Close']
    current_volume += row['Volume']

    if current_volume >= VOLUME_THRESHOLD:
        volume_bars.append({
            'Symbol': current_symbol,
            'Open': current_open,
            'High': current_high,
            'Low': current_low,
            'Close': current_close,
            'Volume': current_volume,
            'Time': current_time  # Add time to the volume bar
        })
        current_open = None
        current_high = -float('inf')
        current_low = float('inf')
        current_close = None
        current_volume = 0
        current_symbol = None
        current_time = None

volume_bars_df = pd.DataFrame(volume_bars)

In [22]:
volume_bars_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 14244 entries, 02 January 2023 to 31 December 2024
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Symbol  14244 non-null  object
 1   Open    14244 non-null  float64
 2   High    14244 non-null  float64
 3   Low     14244 non-null  float64
 4   Close   14244 non-null  float64
 5   Volume  14244 non-null  int64
dtypes: float64(4), int64(1), object(1)
memory usage: 1.3+ MB

In [23]:
volume_bars_df.head()

                Symbol     Open     High      Low    Close  Volume
Time
02 January 2023  ESH23  3895.00  3900.00  3849.50  3849.75   50304
03 January 2023  ESH23  3849.50  3867.75  3842.75  3864.00   50044
03 January 2023  ESH23  3864.00  3888.50  3864.00  3882.75   50000
03 January 2023  ESH23  3882.75  3905.75  3882.50  3903.00   50498
03 January 2023  ESH23  3903.00  3906.75  3872.25  3877.75   50126

In [26]:
volume_bars_df.to_csv('tick_data/bars/volume_bars_barchart.csv', index=False)